b {
    background-color:#ddd;
    border-radius:4px;
    padding:2px;
}

blockquote {
    font-family: monospace;
    font-size:15px;
    background-color: #fffafa;
}
/*.ui-select-container{
    width:300px;
}
.ui-select-choices-content, .selectize-dropdown-content {
    width:300px;
}
.ui-select-focusser{
    opacity: 0;
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border:0;
    width: 0;
}*/
div::-webkit-scrollbar {
    width: 5px;
}
 
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px #11b2ad; 
   
}
 
div::-webkit-scrollbar-thumb {
    background-color:#11b2ad;   
}
#preview-div {
    border: 1px dotted #111;
    height: 480px;
    padding: 10px;
}
#editor-div > div:first-child {
    border:1px solid #aaa;
    background-color:black;
    color:white;
    font-size:15px;
    height:480px;
    
}
#editor-div > div:first-child > ul {
    list-style:none;
    padding:0px;
}
#editor-div > div:first-child > ul > li {
    padding-top:10px;
    color:#eee;
    cursor:pointer;
    
}
#editor-div > div:nth-child(2) {
    border: 2px solid #aaa;
    padding-left:20px;
    height:480px;
    overflow:auto;
    
}
#editor-div textarea,input[type='text'] {
    width:90%;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
    margin-bottom:2px;
}
#editor-div textarea:focus{ 
    box-shadow: 3px 3px 5px #aaa; 
    outline:2px solid #11b2ad;
}
input[type='text']:focus {
        box-shadow: 3px 3px 5px #aaa; 
        outline:2px solid #11b2ad;
}
#editor-div .link-div {
    border-radius: 10px;
    border: 3px solid #aaa;
    box-shadow: 5px 5px 10px #aaa;
    padding:3px 2px 5px 10px;
    margin-bottom:10px;
}
#editor-div .input-label {
    font-size:12px;
    color:#aaa;
}
#editor-div .topic-body {
    border-top:5px solid #11b2ad;
}
#editor-div .preview-span
{
    position: absolute;
    margin-top: -10px;
    background-color: white;
    margin-left: 20px;
}
#editor-div .description-div {
    border: 1px solid #ddd;
}
#editor-div .description-div > textarea {
    width:100%;

}
#editor-div .editor-controls {
    background-color:#eee;
}
#editor-div .editor-controls > span {
    padding:4px;
    cursor:pointer;
}
#editor-div .disable-controls {
    color:#aaa;
}

.topic-body img {
    display:block;
    margin:auto;
}
#save-btn {
    border-radius: 50%;
    color: white;
    font-weight: 700;
    z-index: 2;
    right: 10px;
    margin-top: -40px;
    font-size: 17px;
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #01b001;
}


