#sign-up-form {
    border:1px solid #11b2ad;
    border-radius:5px;
    margin:auto;
    width:50%;

}

#sign-up-form > button {
    border:1px solid #e98f03;
}
#sign-up-form > button:hover {
    background-color:#e98f03;
    color:white;
}
#sign-up-form > input {
    display:block;
    margin:auto;
}