<link href="../../../Content/Editor.css" rel="stylesheet" />
<br><br><br>
<div ng-init = "AuthorizeUser()"  class="container-fluid">

    <div class="bread-crumbs">
        <span ng-click="GetSubTopicsList(0);BringTopicContent(0,0)">Home</span>
        <span ng-repeat="topic in breadCrumbs" ng-click="GetSubTopicsList(topic.TopicID);BringTopicContent(topic.TopicID, $index)">{{topic.TopicName}}</span>
    </div>

    <div id="editor-div">
        <div class="col-sm-2" ng-init="GetSubTopicsList(0);">
            <span ng-hide="selectedTopicContent != null" class="topic-list-heading-span">Main Contents</span>
            <span ng-show="selectedTopicContent != null" class="topic-list-heading-span">Contents of<b> {{selectedTopicContent.TopicName}}</b></span>
             <button class="btn btn-primary add-new-topic-btn" ng-click="showTopicInput = true" ng-hide="showTopicInput">Add New Topic</button>
            
            <span ng-show= "showTopicInput"  class="add-topic-span" ng-click="AddNewTopic()">Add</span>
            <input ng-show="showTopicInput" class="new-topic-input" type="text" ng-model="newTopic.TopicName"/>
            <span ng-show="showTopicInput" class="fa fa-times" ng-click="CancelAddingTopic()"></span>

            <input class="search-input" type="text" ng-model="searchKeyword.TopicName"/>
            <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
           
            <span ng-if="subTopicList.length == 0">&nbsp no more subtopics found</span>
            <ul  ui-sortable="sortableTopics" ng-model="subTopicList">
                <li ng-repeat="topic in subTopicList | filter:searchKeyword as filteredSubTopic" ng-click="GetSubTopicsList(topic.TopicID);BringTopicContent(topic.TopicID)">
                    {{topic.TopicName}}
                </li>
             </ul>
            <span ng-show="subTopicList.length != 0 && filteredSubTopic.length == 0"> No Match Found</span>
        </div>
        <div class="col-sm-10">
            <div class="controls-menu">
                <span ng-click="AddLink()">
                    Add Link
                </span>  
                <span ng-click="DeleteTopic()">
                    Delete topic
                </span>
                 <button class="pull-right btn btn-primary" ng-click="SaveChanges()" ng-show="showEditor" id="save-btn">save changes</button>
            </div>

            <div ng-show="showEditor" class="topic-content-div">
                <!--Topic Heading-->
                <h3>
                    <input type="text" ng-model="selectedTopicContent.TopicName" />
                    <span class="input-label">*Topic Heading</span>
                </h3>

                <textarea rows="3" ng-model="selectedTopicContent.About"></textarea>
                <span class="input-label">About the topic</span>

                <br/><br/>
                <!--Topic Body-->
                <div  ui-sortable="sortableLinks" ng-model="selectedTopicContent.Links" class="topic-body" >
                    <br/>
                    <div ng-repeat="link in selectedTopicContent.Links" id="{{link.LinkID}}" class="link-div">
                        <div  ng-init="link.LinkID > 0 ? isCollapse = false : isCollapse = true" ng-class="IsLinkDeleted ? 'LinkDeleted' : ''" ng-hide="isCollapse" ng-click="isCollapse = true">
                            <span ng-show ="link.LinkHeading == ''"> No Topic Name</span>{{link.LinkHeading}}
                            <span class="pull-right" ng-click="isCollapse = true"> 
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> 
                            </span>
                        </div>

                        <div ng-show="isCollapse" ng-class="IsLinkDeleted ? 'LinkDeleted' : ''">
                            <div class="link-heading-div" ng-click="isCollapse = false">
                                <span>
                                    <button class="btn btn-sm btn-danger" ng-click="IsLinkDeleted=true; DeleteLink($index)">delete</button>
                                </span>
                                <i class="pull-right fa fa-chevron-up" aria-hidden="true"></i>
                            </div>
                            <h4>
                                <input type="text" ng-model="link.LinkHeading" />
                                <span class="input-label">*Link heading</span>
                            </h4>
                        <!--Image link-->
                        <div ng-if="link.LinkType == 'image'">

                            <br/>
                            <textarea rows="3" ng-model="link.LinkDetail"></textarea>
                            <span class="input-label">About the image</span>
                            <i class="fa fa-picture-o" aria-hidden="true" data-toggle="modal" data-target="#image-preview{{link.LinkID}}">Preview Image</i>
                            <input type="file"/>

                            <div id="image-preview{{link.LinkID}}" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Image Preview</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img ng-src="Resources/Images/{{link.Link1 | trustUrl}}" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Video Link-->
                        <div ng-if="link.LinkType == 'video'">

                            <input class="link-input" type="text" ng-model="link.Link1" />
                            <span class="input-label">*Embeded url</span>
                            <select class="url-type-dropdown" ng-model="link.LinkType">
                                <option value="video">video url</option>
                                <option value="url">url to another page</option>
                                <option value="none">none</option>
                            </select>
                            <span class="input-label">*url type</span>
                            <textarea rows="3" ng-model="link.LinkDetail"></textarea>
                            <span class="input-label">About the video</span>
                        </div>

                        <!--Url-->
                        <div ng-if="link.LinkType == 'url'">

                            <input class="link-input" type="text" ng-model="link.Link1" />
                            <span class="input-label">*url</span>
                            <select class="url-type-dropdown" ng-model="link.LinkType">
                                <option value="video">video url</option>
                                <option value="url">url to another page</option>
                                <option value="none">none</option>
                            </select>
                            <span class="input-label">*url type</span>
                            <textarea rows="3" ng-model="link.LinkDetail"></textarea>
                            <span class="input-label">About the Link</span>

                        </div>
                        <br/>
                            <!--no url-->
                        <div ng-if="link.LinkType == 'none'">

                            <input class="link-input" ng-disabled="link.LinkType == 'none'" type="text" ng-model="link.Link1" />
                            <span ng-hide="link.LinkType == 'none'" class="input-label">*url</span>
                            <select class="url-type-dropdown" ng-model="link.LinkType">
                                <option value="video">video url</option>
                                <option value="url">url to another page</option>
                                <option value="none">none</option>
                            </select>
                            <span class="input-label">*url type</span>
                            <textarea rows="3" ng-model="link.LinkDetail"></textarea>
                            <span class="input-label">About the Link</span>

                        </div>
                            <textarea ckeditor="editorOptions" ng-model="link.Description" class="description"></textarea>
                       </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>

<!--Modal for showing messages-->
<div id="message-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{notification.message}}</p>
                <button ng-show="notification.showOkButton" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                <button ng-show="notification.showUndoButton" type="button" class="btn btn-primary">Undo</button>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/sortable.js"></script>


