
<div class="container-fluid">
    <div class="row" id="parent-heading">
        <p> {{parentsList[parentsList.length-1].TopicName}}</p>
    </div>
    <br/>
    <div class="row">
        <div id="list-div" ng-if = "subTopicList.length > 5" class="col-sm-3">
            <ul>
                <ul id="parent-list">
                    <li><a href="#/">Home</a> > </li>
                    <li ng-repeat ="parentTopic in parentsList">
                        <a href="#/SubTopics/{{parentTopic.TopicID}}">{{parentTopic.TopicName}}</a> >
                    </li>
                </ul>

                <li ng-repeat="topic in subTopicList" list-id="{{topic.TopicID}}" ng-click="scrollTo(topic.TopicID)">{{topic.TopicName}}</li>

            </ul>
            <br><br>
        </div>

        <div ng-if = "subTopicList.length <= 5">
            <ul id="parent-list">
                <li><a href="#/">Home</a> > </li>
                <li ng-repeat ="parentTopic in parentsList">
                    <a href="#/SubTopics/{{parentTopic.TopicID}}">{{parentTopic.TopicName}}</a> >
                </li>
            </ul>
        </div>

        <div id="sub-topic-list" class="col-sm-8" >
            <div ng-repeat="topic in subTopicList" id="{{topic.TopicID}}">
                <h3 class="topic-heading" >
                    <a ng-if="topic.SubTopicCount > 0" ng-href="#/SubTopics/{{topic.TopicID}}">
                        <span class="fa fa-link"></span> {{topic.TopicName}}
                    </a>
                    <a ng-if="topic.SubTopicCount == 0" class="no-subtopics">
                         {{topic.TopicName}}
                    </a>
                </h3>
                <div class="topic-body">
                    <p>{{topic.About}}</p>

                    <div ng-repeat="link in topic.Links">

                        <div ng-if="link.LinkType == 'image'" class="image-div">
                            <h4>{{link.LinkHeading}}</h4>
                            <p>{{link.LinkDetail}}</p>
                            <img ng-src="Resources/Images/{{link.Link1 | trustUrl}}" />

                        </div>

                        <div ng-if="link.LinkType == 'video'" class="video-div">
                            <h4>{{link.LinkHeading}}</h4>
                            <p>{{link.LinkDetail}}</p>
                            <iframe width="100%" height="350" ng-src="{{link.Link1 | trustUrl}}" frameborder="0" allowfullscreen></iframe>
                        </div>

                        <div ng-if="link.LinkType == 'url'" class="link-div">

                            <a href="{{link.Link1}}" target="_blank">
                                <h4>{{link.LinkHeading}}</h4>
                            </a>
                            <span class="copy-link-parent pull-right">
                                <a class="copy-link pull-right" data-clipboard-text="{{link.Link1}}" data-toggle="popover" data-content="copied" data-placement="bottom" >copy link</a>
                            </span>
                            <p>{{link.LinkDetail}}</p>
                            <div>
                                <i class="fa fa-eye" data-toggle="tooltip" title="no. of times visited" aria-hidden="true">
                                     {{link.NoOfTimesVisited}}
                                 </i>
                            </div>

                            <div id="ratingsForm" class="pull-right ">
                                <div class="stars" rating={{link.Rating}}>

                                    <input type="radio" name="link{{link.LinkID}}" value="1" class="star-1" />
                                    <label class="star-1">1</label>
                                    <input type="radio" name="link{{link.LinkID}}" value="2" class="star-2" />
                                    <label class="star-2">2</label>
                                    <input type="radio" name="link{{link.LinkID}}" value="3" class="star-3" />
                                    <label class="star-3">3</label>
                                    <input type="radio" name="link{{link.LinkID}}" value="4" class="star-4" />
                                    <label class="star-4">4</label>
                                    <input type="radio" name="link{{link.LinkID}}" value="5" class="star-5" />
                                    <label class="star-5">5</label>
                                    <span></span>
                                </div>

                            </div>
                        </div>
                        <p>{{link.Description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>