@model LinkManagement.ViewModels.TopicTree

@if (Model.topics.Where(s => s.ParentID == Model.seed).Any())
{
    <ul>
        @foreach (var node in Model.topics)
        {
            if (node.ParentID == Model.seed)
            {
                LinkManagement.ViewModels.TopicTree inner = new LinkManagement.ViewModels.TopicTree { seed = node.TopicID, topics = Model.topics };
                
                <li>
                    <span>
                        <i class="glyphicon"></i>
                         @node.TopicName
                    </span>
                     
                    @Html.Partial("_TopicMenuTree", inner)
                </li>
            }
        }
    </ul>
}