@model LinkManagement.ViewModels.TopicTree

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
     <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
   
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="~/Scripts/TopicTreeView.js"></script>
    <link href="~/Content/TopicTreeView.css" rel="stylesheet" />

    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="col-sm-4 tree">
           @Html.Partial("_TopicMenuTree", Model)

        </div>
        <div class="col-sm-8">

        </div>
    </div>
</body>
</html>
